@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #F7F5F3;
  font-family: 'Montserrat', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: nuberfield;
  -moz-appearance: textfield;
}
